body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* SLIDE CONTAINER */
.container {
    display: flex;
    width: 200vw;
    height: 100vh;
    transition: transform 0.8s ease-in-out;
    transform: translateX(0); /* START ON PAGE 1 */
}
.photo-wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

.polaroid {
    width: 200px;
    border-radius: 15px;
    border: 8px solid white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.polaroid.left {
    transform: rotate(-8deg);
}

.polaroid.right {
    transform: rotate(8deg);
}

.polaroid:hover {
    transform: rotate(0deg) scale(1.05);
}

/* EACH PAGE */
.page {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: pink;
     background: url("love.gif") no-repeat center center;
    background-size: cover;
}

/* FIRST PAGE STYLING */
h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.buttons {
    position: relative;
    width: 300px;
    height: 150px;
}

/* BUTTONS */
button {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.yes-btn {
    background-color: #4CAF50;
    left: 40px;
    top: 50px;
}

.no-btn {
    background-color: #f44336;
    left: 160px;
    top: 50px;
}

/* SECOND PAGE */
.page2 {
    background: url("kiss.gif") no-repeat center center;
    background-size: cover;
    background: lightcoral;
    text-align: center;
}
.second-gif {
    width: 250px;
    margin-bottom: 20px;
}
